


.list button{
  padding: 0px 10px ;
  max-height: 30px;
  text-align: center;
  margin-top: 15px;
  background-color: red;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  
  
}
.list{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  background-color:rgb(164, 143, 223);
  width:25%;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
  font-size: 20px;
 margin-left: 37%;
}

.Todolist{
  
  margin-top:30px;
  margin-left: 20px;

  text-align: center;
  
}

  
 


.input{
  margin-bottom: 20px;
  
}
.input input{
  width: 18%;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
.input button{
  padding: 10px 20px;
  margin-left: 5px;
  background-color: green;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.search{
  width:24%;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
.list{
  text-align: center;
  
  
}
.list p{
  cursor: pointer;
}








