
.inputdiv{
  margin-left: 40px;
  width: 100%;

}
.listdiv{
  margin-left: 40px;
  

}

.list button{
  padding: 0px 10px ;
  max-height: 30px;
  text-align: center;
  margin-top: 15px;
  background-color: red;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  
  
}
.list{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  background-color:rgb(164, 143, 223);
  width:90%;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
  font-size: 20px;


}
.content{
  border: 2px solid black;
  width: 30%;
  background-color: antiquewhite;
 
}
.Todolist{
  
  margin-top:50px;
  

  
  
}

  
 


.input{
  margin-bottom: 20px;
 
  
}
.input input{
  
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 60%;
}
.input button{
  padding: 10px 20px;
  margin-left: 5px;
  background-color: green;
  color: white;
  border-radius: 10px;
  cursor: pointer;
 
}

.search{
  width: 75%;
  
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
.list{
  text-align: center;
  
  
}
.list p{
  cursor: pointer;
}








